.background {
  background: #f0f0f2;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_card_1 {
  width: 90vw;
  height: auto;
  border-radius: 15px;
  margin: 5vw;
  padding: 4vw;
  background-color: #ffff;
}

.info_card_2 {
  width: 90vw;
  height: auto;
  border-radius: 15px;
  margin: 5vw;
  padding: 4vw;
  background-color: #ffff;
}

.info_card_2 > img {
  width: 100%;
}

.input_card_1 {
  width: 90vw;
  height: auto;
  border-radius: 15px;
  margin: 5vw;
  padding: 4vw;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
}

.input_card_1 > form {
  display: flex;
  flex-direction: column;
}

.input_card_1 > form > input {
  background-color: #f0f0f2;
  border: none;
  outline: none;
  padding: 10px;
  height: 35px;
  border-radius: 15px;
}

.input_card_2 {
  width: 90vw;
  height: auto;
  border-radius: 15px;
  margin: 5vw;
  padding: 4vw;
  margin-bottom: 7vw;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
}

.input_card_2 > form {
  display: flex;
  flex-direction: column;
}

.input_card_2 > form > input {
  background-color: #f0f0f2;
  border: none;
  outline: none;
  padding: 10px;
  height: 35px;
  border-radius: 15px;
}

.submit_btn {
  width: 100%;
  padding-top: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_btn > input {
  background-image: linear-gradient(rgb(117, 196, 136), rgb(12, 167, 170));
  color: #ffff;
  width: 20vw;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
}

.spin{
    margin: unset;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.3rem solid rgba(117, 196, 136, 0.3);
    border-top-color: rgb(117, 196, 136);
    animation: 1.5s spin infinite linear;
}

.spin.multi{
  border-bottom-color: rgb(117, 196, 136);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

