.background {
  background: #f0f0f2;
  width: 100vw;
  height: 338vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_card_1 {
  width: 90vw;
  height: 45vw;
  border-radius: 15px;
  margin: 5vw;
  padding: 4vw;
  background-color: #ffff;
}

.info_card_2 {
  width: 90vw;
  height: 120vw;
  border-radius: 15px;
  margin: 5vw;
  padding: 4vw;
  background-color: #ffff;
}

.info_card_2 > img {
  width: 100%;
}

.input_card_1 {
  width: 90vw;
  height: 78vw;
  border-radius: 15px;
  margin: 5vw;
  padding: 4vw;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
}

.input_card_1 > form {
  display: flex;
  flex-direction: column;
}

.input_card_1 > form > input {
  background-color: #f0f0f2;
  border: none;
  outline: none;
  padding: 10px;
  height: 35px;
  border-radius: 15px;
}

.input_card_2 {
  width: 90vw;
  height: 50vw;
  border-radius: 15px;
  margin: 5vw;
  padding: 4vw;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
}

.input_card_2 > form {
  display: flex;
  flex-direction: column;
}

.input_card_2 > form > input {
  background-color: #f0f0f2;
  border: none;
  outline: none;
  padding: 10px;
  height: 35px;
  border-radius: 15px;
}

.submit_btn {
  width: 100%;
  padding: 5vw;
  text-align: center;
}

.submit_btn > input {
  background-image: linear-gradient(rgb(117, 196, 136), rgb(12, 167, 170));
  color: #ffff;
  width: 20vw;
  padding: 5px;
  border-radius: 15px;
}
